/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  // Fonts
  --font-primary: "Inter", sans-serif;

  // Colors
  --color-primary: #e71d36;

  --color-primary-dark-1: #450910;

  --color-primary-light-1: #b59d9f;
  --color-primary-light-2: #8f6b70;

  --color-secondary: #011627;

  --color-gray-light-1: #f1f3f5;
  --color-gray-light-2: #fefefe;

  --color-black: #000;
  --color-white: #fff;

  // Border radius
  --border-radius-sm: 11px;
}
