/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  // Fonts
  --font-primary: "Inter", sans-serif;

  // Colors
  --color-primary: #e71d36;

  --color-primary-dark-1: #db172e;
  --color-primary-dark-2: #ca152a;
  --color-primary-dark-3: #b91327;

  --color-primary-light-1: #e92d43;
  --color-primary-light-2: #eb3d51;
  --color-primary-light-3: #ec4d60;

  --color-secondary: #011627;

  --color-secondary-light-1: #022948;
  --color-secondary-light-2: #033b69;

  --color-gray-light-1: #f8f9fa;
  --color-gray-light-2: #f1f3f5;
  --color-gray-light-3: #e9ecef;
}
