.movie {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  height: 100%;
  background-color: var(--color-gray-light-2);

  @include respond(medium) {
    grid-template-columns: 1fr;

    position: relative;
  }

  &__img-box {
    border-radius: var(--border-radius-sm);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__information {
    padding: 3.2rem;

    @include respond(medium) {
      position: absolute;
      bottom: 0;
      left: 0;

      backdrop-filter: blur(3px);
      background-image: linear-gradient(rgba(#fff, 0.8), rgba(#fff, 0.8));
      height: 40%;
    }

    @include respond(small) {
      height: 50%;
    }
  }

  &__title {
    font-size: 4rem;

    @include respond(small) {
      font-size: 3.6rem;
    }

    @include respond(smallest) {
      font-size: 3rem;
    }
  }

  &__detail {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-primary-light-2);

    @include respond(smallest) {
      font-size: 1.2rem;
    }
  }

  &__country,
  &__year,
  &__time {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-primary);
  }

  &__genres {
    display: flex;
    align-items: center;

    gap: 0.4rem;
  }

  &__story {
    font-size: 1.8rem;
    line-height: 1.3;
    padding-right: 6.4rem;

    @include respond(smallest) {
      font-size: 1.4rem;
    }
  }

  &__data {
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;

    @include respond(smallest) {
      font-size: 1.2rem;
    }

    svg {
      width: 2rem;
      height: 2rem;
      fill: var(--color-primary);
    }
  }

  &__secondary_title {
    color: var(--color-primary);
    font-weight: 600;
  }
}

.vertical-bar {
  font-weight: 600;
  color: var(--color-primary);
}

.rating {
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  @include respond(smallest) {
    font-size: 2.4rem;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    fill: var(--color-primary);
  }

  span {
    font-weight: 400;
    color: var(--color-primary-light-2);
  }
}
