.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 6rem 1fr;
  grid-template-columns: [sidebar-start] max-content [sidebar-end full-start] minmax(1.2rem, 1fr) repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) minmax(1.2rem, 1fr) [full-end];
  row-gap: 1.2rem;

  background-color: var(--color-gray-light-2);
}

.sidebar {
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;

  background-color: var(--color-gray-light-4);
}

.header {
  grid-column: col-start 1 / col-end 8;
  grid-row: 1/2;
}

.cards {
  grid-column: col-start 1 / col-end 8;
  grid-row: 2/-1;
  background-color: blue;
}
