.header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;
}

.search {
  background-color: var(--color-gray-light-4);
  border: none;
  outline: none;
  padding: 1.2rem;
  border-radius: 5px;
}

.user {
  background-color: var(--color-gray-light-4);
  border-radius: 5px;
}
