.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;

  border-bottom: 1px solid var(--color-gray-light-3);
}

.logo {
  height: 2.4rem;
}

.user {
}
