.main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content 1fr;
  gap: 1.2rem;

  padding: 1.6rem;
}

.search {
  grid-column: 1/7;
  grid-row: 1/2;
}

.user {
  grid-column: 7/-1;
  grid-row: 1/2;
}

.main-container {
  grid-column: 1/-1;
  grid-row: 2/-1;

  border-radius: var(--border-radius-sm);
  overflow: hidden;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;

  @include respond(medium) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(smallest) {
    grid-template-columns: 1fr;
  }
}
