.sidebar {
  padding: 2.4rem 0;
  border-right: 1px solid var(--color-gray-light-2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;

  @include respond(largest) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__img {
    height: 2.8rem;
    padding-left: 1.6rem;

    @include respond(medium) {
      padding-left: 2.4rem;
    }

    @include respond(small) {
      height: 3.5rem;
    }

    @include respond(smallest) {
      height: 4.5rem;
    }
  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    @include respond(largest) {
      flex-direction: row-reverse;
      padding: 1.6rem;
    }

    @include respond(medium) {
      padding: 2.4rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      width: 100%;
      color: inherit;
      font-size: 1.8rem;
      text-decoration: none;
      text-transform: capitalize;
      padding: 0.8rem 8rem 0.8rem 1.6rem;

      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary) 50%);
      background-size: 230%;
      transition: all 0.4s;

      @include respond(largest) {
        padding: 0.4rem 1.2rem;
        border-radius: var(--border-radius-sm);
      }

      @include respond(large) {
        padding: 0.8rem 1.6rem;
        border-radius: var(--border-radius-sm);
      }

      @include respond(medium) {
        font-size: 2rem;
      }

      @include respond(small) {
        font-size: 2.2rem;
      }

      @include respond(smallest) {
        font-size: 2.4rem;
      }
    }

    &:hover,
    &:active {
      color: var(--color-secondary);
      background-position: 100%;
    }
  }

  &__link.nav__active {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}
