.sidebar {
  padding: 1.6rem 0;
  border-right: 1px solid var(--color-gray-light-2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}

.logo {
  &__img {
    height: 2.4rem;
    padding-left: 1.6rem;
  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      width: 100%;
      color: inherit;
      font-size: 1.8rem;
      text-decoration: none;
      text-transform: capitalize;
      padding: 0.8rem 8rem 0.8rem 1.6rem;

      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary) 50%);
      background-size: 220%;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      color: var(--color-secondary);
      background-position: 100%;
    }
  }

  &__link.nav__active {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}
